body {
    font-family: 'Open Sans', serif;
    padding-top: 54px;
    color: #868e96;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    font-size: 3.5rem;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', serif;
    font-size: 1.35rem;
}

.list-social-icons a {
    color: #495057;
}

.list-social-icons a:hover {
    color: #58D68D;
}

.list-social-icons a .fa-lg {
    font-size: 1.75rem;
}

.list-icons {
    font-size: 3rem;
}

.list-icons .list-inline-item i:hover {
    color: #58D68D;
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 600;
    text-transform: uppercase;
}

@media (min-width: 992px) {
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        width: 17rem;
        height: 100vh;
    }

    #sideNav .navbar-brand {
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
    }

    #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2);
    }

    #sideNav .navbar-collapse {
        display: flex;
        align-items: flex-start;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }

    #sideNav .navbar-collapse .navbar-nav {
        flex-direction: column;
        width: 100%;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
    }
}

section.resume-section {
    border-bottom: 1px solid #dee2e6;
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}

section.resume-section .resume-item .resume-date {
    min-width: none;
}

@media (min-width: 768px) {
    section.resume-section {
        min-height: 100vh;
    }

    section.resume-section .resume-item .resume-date {
        min-width: 18rem;
    }
}

@media (min-width: 992px) {
    section.resume-section {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
}

.bg-primary {
    background-color: #58D68D  !important;
}

.text-primary {
    color: #58D68D !important;
}

a {
    color: #58D68D;
}

a:hover,
a:focus,
a:active {
    color: #824027;
}

.skill-bars {
    list-style: none;
    margin: 6rem 0 3rem;
    padding-left: 1rem;
    padding-right: 1.1rem;
}

.skill-bars li {
    height: .6rem;
    background: #b3b3b3;
    width: 100%;
    margin-bottom: 4rem;
    padding: 0;
    position: relative;
}

.skill-bars li strong {
    position: absolute;
    left: 0;
    top: -3rem;
    color: #3498db;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1rem;
    line-height: 2.4rem;
}

.skill-bars li .progress {
    background: #313131;
    position: relative;
    height: 100%;
}

.skill-bars li .progress span {
    position: absolute;
    right: 0;
    top: -3.6rem;
    display: block;
    color: white;
    font-size: 1.1rem;
    line-height: 1;
    background: #313131;
    padding: .6rem .6rem;
    border-radius: 3px;
}

.skill-bars li .progress span::after {
    position: absolute;
    left: 50%;
    bottom: -5px;
    margin-left: -5px;
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    border-top: 5px solid #313131;
    content: "";
}

.skill-bars li .percent5 {
    width: 5%;
}

.skill-bars li .percent10 {
    width: 10%;
}

.skill-bars li .percent15 {
    width: 15%;
}

.skill-bars li .percent20 {
    width: 20%;
}

.skill-bars li .percent25 {
    width: 25%;
}

.skill-bars li .percent30 {
    width: 30%;
}

.skill-bars li .percent35 {
    width: 35%;
}

.skill-bars li .percent40 {
    width: 40%;
}

.skill-bars li .percent45 {
    width: 45%;
}

.skill-bars li .percent50 {
    width: 50%;
}

.skill-bars li .percent55 {
    width: 55%;
}

.skill-bars li .percent60 {
    width: 60%;
}

.skill-bars li .percent65 {
    width: 65%;
}

.skill-bars li .percent70 {
    width: 70%;
}

.skill-bars li .percent75 {
    width: 75%;
}

.skill-bars li .percent80 {
    width: 80%;
}

.skill-bars li .percent85 {
    width: 85%;
}

.skill-bars li .percent90 {
    width: 90%;
}

.skill-bars li .percent95 {
    width: 95%;
}

.skill-bars li .percent100 {
    width: 100%;
}